<footer class="footer">
    <p><a href="/foot#quienes">QUIENES SOMOS</a></p>
    <p><a href="/foot#privacy">POLITICAS DE PRIVACIDAD</a></p>
    <p><a href="/foot#terms">TERMINOS LEGALES</a></p>
</footer>