<section>
    <!-- start nav -->
<nav id="menu">
    <!-- start menu -->
    <ul>
     <li><a href="/home">HOME</a></li>
     <li><a href="/productDetail">CATEGORIAS</a>
    <!-- start menu desplegable -->
     <ul>
     <li><a href="#">MINERIA</a></li>
     <li><a href="#">ALMACENAMIENTO</a></li>
     <li><a href="#">MONITORES</a></li>
     <li><a href="#">METAVERSO</a></li>

     </ul>
    <!-- end menu desplegable -->
     </li>
     <li><a href="/register">MI CUENTA</a></li>
     <li><a href="/cart">MIS COMPRAS</a></li>
     
    </ul>
    <!-- end menu -->
    </nav>
    <!-- end nav -->
</section>