<head>
	<%- include('../partials/headerNavbarcss.ejs') %>
</head>


    <!-- start nav -->
<div class="topnav" id="myTopnav">
    <!-- start menu -->
   
    <a href="/" class="active">HOME</a>
    <a href="/products">PRODUCTOS</a>
    <!-- start menu desplegable -->
    
     <!--<a href="/mineria">MINERIA</a>
     <a href="/almacenamiento">ALMACENAMIENTO</a>
     <a href="/monitores">MONITORES</a>
     <a href="/metaverso">METAVERSO</a>
     <a href="/users">MI CUENTA</a>-->   
     <a href="/cart">MIS COMPRAS</a> 

     <a href="javascript:void(0);" class="icon" onclick="myFunction()"> 
        <i class="fa fa-bars"></i>  
        <!-- end menu -->
    <div class="navbar-nav align-items-center">
      <% if (locals.isLogged) { %>
       
      
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/images/usuarios/<%= locals.userLogged.avatar %>" width="50px" style="border-radius: 100%;" alt="">Hola <%= locals.userLogged.nombre %> </a>
          <a class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="../users/profile">MI PERFIL</a>
            
            <a class="dropdown-item" href="../users/logout">LOGOUT</a>
          </a>
        </div>
      <% } else {%>
      <a class="nav-item"><a class="nav-link" href="/users/register">REGISTRATE</a></a>
      <a class="nav-item"><a class="nav-link" href="/users/login">LOGIN</a></a>
      <% } %>
      </div>
</div>
    
    <!-- end nav -->

   <script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
</script>
