<head>
	<%- include('../partials/headerNavbarcss.ejs') %>
</head>


    <!-- start nav -->
<div class="topnav" id="myTopnav">
    <!-- start menu -->
   
    <a href="/" class="active">HOME</a>
    <a href="/products">PRODUCTOS</a>
    <!-- start menu desplegable -->
    
     <!--<a href="/mineria">MINERIA</a>
     <a href="/almacenamiento">ALMACENAMIENTO</a>
     <a href="/monitores">MONITORES</a>
     <a href="/metaverso">METAVERSO</a>-->
     <a href="/users/register">MI CUENTA</a>   
     <a href="/cart">MIS COMPRAS</a> 
     <a href="javascript:void(0);" class="icon" onclick="myFunction()"> 
        <i class="fa fa-bars"></i>  
        <!-- end menu -->
    
</div>
    
    <!-- end nav -->

   <script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
</script>
