<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/metashop.css">

    <title>Meta-shop</title>
</head>
<body>
  <header>
    <div class="topnav">
        <img src="/images/metashoplogo.png" alt=""><a href="index.html"></a>
        
        <input class="buscador" type="text" name="Buscar" id="">
        <a class="active" href="#home">Mi Cuenta</a>
        <a href="#news">Mis compras</a>
        <!-- */<a href="#contact">Contact</a>*/ -->
        <!-- <a href="#about">About</a> -->
      </div>
    </header>
      <div class="leftnav">
        <a class="active" href="#home">CATEGORIAS</a>
        <label for="usuario">EQUIPOS COMPLETOS</label>
    <input class="ding" type="radio" name="usuario" value="comprador"><br>
    <label class="section" for="usuario">CONSOLAS</label>
    <input class="ding" type="radio" name="usuario" value="vendedor"><br>
    <label class="section" for="usuario">MINERIA CRIPTO</label>
    <input class="ding" type="radio" name="usuario" value="comprador"><br>
    <label class="section" for="usuario">MONITORES</label>
    <input class="ding" type="radio" name="usuario" value="vendedor"><br>
    <label class="section" for="usuario">MEMORIA RAM</label>
    <input class="ding" type="radio" name="usuario" value="comprador"><br>
    <label class="section" for="usuario">AUDIO Y VIDEO</label>
    <input class="ding" type="radio" name="usuario" value="vendedor"><br>
        <!-- <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a> -->
      </div>

      <article class="container">
        <img src="/images/carrousel.jpg" alt=""style="width:100%;height:100%;">
      </article>

      

      <article class="flex-container">
        <div><img class="publi1" src="/images/placa-de-video-msi-geforce-rtx-3090-ventus-3x-24g.png"style="width:50%;height:50%;">
        </div>
        <div><img class="publi1" src="/images/placa-de-video-msi-geforce-rtx-3090-ventus-3x-24g.png"style="width:50%;height:50%;"></div>
        <div><img class="publi1" src="/images/placa-de-video-msi-geforce-rtx-3090-ventus-3x-24g.png"style="width:50%;height:50%;"></div>

      </article>

      <footer class="footer">
        <div>comentarios
        </div>
        <div>redes sociales</div>
        <div>quienes somos</div>



      </footer>
</body>
</html>