<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stilos.css">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <header>
        
        <nav class="menu">
            <!-- start menu -->
            <ul>
             <li><a href="#">Home</a></li>
             <li><a href="#">categorias</a>
            <!-- start menu desplegable -->
             <ul>
             <li><a href="#">Mineria cripto</a></li>
             <li><a href="#">Accesorios</a></li>
             <li><a href="#">Equipos</a></li>
             <li><a href="#">monitores</a></li>
             </ul>
            <!-- end menu desplegable -->
             </li>
             <li><a href="#">Login</a></li>
             <li><a href="#">compras</a></li>
            </ul>
            <!-- end menu -->
            </nav>
            <!-- end nav -->
    </header>

  
  
  
    <main>
        <div class="card">
            <article class="articulo1">
            <img src="jeans3.jpg" alt="Denim Jeans" style="width:100%">
            <h1>Tailored Jeans</h1>
            <p class="price">$19.99</p>
            <p>Some text about the jeans..</p>
            <p><button>Add to Cart</button></p>
        </article>  
        </div>
        </main>
    
    <footer>
        <div class="footer">
            <a href="#">Quienes somos</a>
            <a href="#">Politica de Privacidad</a>
            <a href="#">Terminos y condiciones</a>
          </div>
    </footer>
</body>

</html>