main{
    background: rgb(175,70,74);
    background: linear-gradient(90deg, rgba(175,70,74,1) 0%, rgba(65,2,106,1) 100%);
    color: white;
    font-family: 'roboto';
    padding: 40px;
}


main {
    background: rgb(175,70,74);
    background: linear-gradient(90deg, rgb(139, 32, 160) 0%, rgba(65,2,106,1) 100%);
}

h4{
    
    text-align: center;
}

.newProducts{   
    
    border: solid black 3px;
    border-radius: 15px;
    padding-top: 3%;
    padding-bottom: 5%;
}
label{
    text-align: start;
    margin: 10px;
    
}

input{
    text-align: start;
    margin: 10px;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: black solid 1px;
}
.categori{
    text-align: start;   
}
.categoriOptions{
    margin: 10px;
}
#chooseFile{
    text-align: start;
    margin: 10px;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: black solid 1px;
}
.buttons{
    text-align: center;
    margin-top: 10px;
}
.submit{
    color: white;
    background: black;
    width: 40%;
    border-radius: 15px;
    height: 30px;
}
.search-edit{
    display: flex;
    
    align-items: center;
}
.btn-edit{
    margin-left: -15%;
}
.input-search{
    width: 100%;
}


@media (min-width: 769px) {
    .newProducts{
        margin: 0% 10% 0% 10%;
        
    }
    input{       
        width: 96%; 
        display: flex; 
           
    }
    #chooseFile{
        width: 80%;      
    }
    .btn-edit{
        margin-left: -22%;
    }
}
