main{
    color: white;
    font-family: 'roboto';
    height: 100vh;
}

.buy-now-button {
    display: inline-block;
    width: auto;
    padding: 12px;
    background-color: #1B2A3B;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: ease-out 0.3s;
}


.userMail{
    margin-left: 20px;
    
}

.formulario-perfil{
    color: black;
    max-width: 768px;
    margin: 60px auto;
}

.div-user{
    padding: 40px;
    background: #1A1829;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

.add-title{
    padding: 0px 20px;
}

h4{
    background-color: #1A1829;
    color: white;
}

.productCreate{
    margin-top: 50px;
    color: white;
    
}

.newProducts{   
    background-color: #1A1829;
    padding: 2% 2% 2% 2%;
    box-shadow: 0px 0px 10px #1A1829;
    
    
}
label{
    text-align: start;
    margin: 10px;
    font-weight: bold;
    
}

input{
    padding: 8px 16px;
    text-align: start;
    margin: 10px;
    width: 90%;
    height: 40px;
    border: black solid 1px;
}

input:focus{
    outline: 1px solid #1A1829;
}

.categori{
    text-align: start;   
}
.categoriOptions{
    margin: 10px;
}
#chooseFile{
    text-align: start;
    margin: 10px;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: black solid 1px;
}
.buttons{
    text-align: center;
    margin-top: 10px;
}
.submit{
    color: white;
    background: #1B2A3B;
    padding: 20px 40px;
    border: none;
    font-weight: bold;
    
}
.search-edit{
    display: flex;
    
    align-items: center;
}
.btn-edit{
    margin-left: -15%;
}
.input-search{
    width: 100%;
}


@media (min-width: 769px) {
    .newProducts{
        margin: 0% 10% 0% 10%;
        
    }
    input{       
        width: 96%; 
        display: flex; 
           
    }
    #chooseFile{
        width: 80%;      
    }
    .btn-edit{
        margin-left: -22%;
    }
}
