@import url('https: //fonts.googleapis.com/css2? family= Poppins & display=swap');
.main {
    padding: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    font-family:'roboto';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    margin: 15px;
    text-align: center;
    box-shadow: 0px 0px 10px black;
    padding: 20px;
    border-radius: 20px;
    color: rgb(204, 136, 250);
    text-shadow:1px 1px 1px  rgb(59, 1, 61);
    font-weight: 400;
    
    top: 35px;
}
.infoPdt{
    display: flex;
    flex-direction: row;

}
.card button {
    border: solid 2px gold;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #CC88FA;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    text-shadow:1px 1px 1px  red;
    
  }

body {
    font-family: 'roboto';
    background: #dddddb;
    
    align-items: center;
}

.categorias {
    flex-wrap: wrap;
    font-weight: bold;
    background-position: center;
    justify-content: space-around;
    margin: auto;
    
    flex-direction: row;
    color: white;
    font-size: 18px;
    margin: 15px;
    text-align: center;


}

img {
   
    max-height: 300px;
    max-width: 300px;
    border-radius: 20px;
    align-items: center;
}

@media (min-width: 375px) and (max-width: 768px) {
    .productshow {
       width: 100%;
        margin: 2px;
    }
    .card{
        
        text-align: center;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
    }
    .infoPdt{
        display: flex;
        
        text-align: center;
        align-items: center;
        flex-direction: column;

    }
}

@media (min-width: 769px) {
    .productshow {
        width: 100%;
        margin: 2px;
    }
    .card{
        
        text-align: center;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
    }
    .infoPdt{
        display: flex;
        
        text-align: center;
        align-items: center;
        flex-direction: column;

    }
    
}

