@import url('https: //fonts.googleapis.com/css2? family= Poppins & display=swap');
.main {
    padding: 30px;
}

body {
    font-family: 'roboto';
    background: rgb(26, 24, 41);
}

.fa{
background: rgb(27, 42, 59);
padding: 10px;
border-radius: 250px;
font-size: 25px;
margin-left: 10px;
}
.fa:hover{
    color:blue;
}

.container{
    padding: 30px;
    background-color: rgb(26, 24, 41);
    margin: 25px;
    border: 20px;
}
.card{
    font-family:'roboto';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    margin: 30px;
    background: rgb(27, 42, 59);
    padding: 20px;
    border-radius: 10px;
    
}
.infoPdt{
    display: flex;

}
.imagenDeProducto{
    padding: 20px;
    margin: auto;
    border-bottom: 1px solid;
}
.infoDeProducto{
    padding: 20px;
    margin: auto;
}

.row {
    width: fit-content;
    margin: auto;
    padding: 25px;
}
.card button {
    border: none;
    padding: 12px;
    color: white;
    background-color: rgb(26, 24, 41);
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    transition: ease-out 0.3s;
  }

  .card button:hover {
    box-shadow: inset 172px 0 0 0 #6AD4F8;
  }



.categorias {
    flex-wrap: wrap;
    font-weight: bold;
    background-position: center;
    justify-content: space-around;
    margin: auto;
    flex-direction: row;
    color: white;
    font-size: 18px;
    margin: 15px;
    text-align: center;
}

img {
    max-height: 300px;
    max-width: 300px;
    align-items: center;
}

@media (min-width: 375px) and (max-width: 768px) {
    .productshow {
       width: 100%;
        margin: 2px;
    }
    .card{
        
        text-align: center;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
    }
    .infoPdt{
        display: flex;
        
        text-align: center;
        align-items: center;
        flex-direction: column;

    }
}

@media (min-width: 769px) {
    .productshow {
        width: 100%;
        margin: 2px;
    }
    .card{
        
        text-align: center;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
    }
    .infoPdt{
        display: flex;
        
        text-align: center;
        align-items: center;
        flex-direction: column;

    }
    
}

