@import url('https: //fonts.googleapis.com/css2? family= Poppins & display=swap');
.main {
   /* display: flex;
    flex-direction: row;*/
    padding: 30px;
}


body {
    font-family: 'roboto';
    background: rgb(175,70,74);
    background: linear-gradient(90deg, rgba(175,70,74,1) 0%, rgba(65,2,106,1) 100%);
    align-items: center;
}

.categorias {
    flex-wrap: wrap;
    font-weight: bold;
    /*background-position: center;*/
    justify-content: space-around;
    /*margin: auto;*/
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 18px;
    margin: 15px;
    text-align: center;


}

img {
    height: auto;
    max-width: 300px;
    border-radius: 20px;
    align-items: center;
}

@media (min-width: 375px) and (max-width: 768px) {
    .productshow {
       width: 100%;
        margin: 2px;
    }
}

@media (min-width: 769px) {
    .productshow {
        width: 100%;
        margin: 2px;
    }
}

