* {
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  color: #6AD4F8;
  background-color: #1a1829;
}

.actions-list i{
  padding-right: 5px;
}

.actions-list{
margin: 25px 0px;
border-bottom: 1px solid;
border-top: 1px solid;
}


a{
  text-decoration: none;
  color: inherit;
}
.product-cart-pr {
  margin: 5%;
}
.page-banner-pr {
  font-size: 20px;
  color: #444444;
  font-weight: bold;
  background-color: #cfcdcd;
  padding: 46px;
  margin: 0%;
}
.cart-collection-pr {
  margin-top: 16px;
}
.cart-item-pr form {
  border: none;
  background-color: none;
  
}

.imgProd  {
  border-radius: 4px;
  width: 40vw;
  padding-right: 2vw;
}

.description{
  padding: 20px;
}

.cart-item-pr {
  display: flex;
  margin: 4% auto;
  box-shadow: 0px 0px 10px #69d9fb;
  width: fit-content;
  padding-right: 20px;
  align-items: flex-start;
  
}
.cart-product-pr {
  
  display: flex;
  padding: 16px 16px;
  align-items: center;
  
}

.cart-quantity-pr,
.cart-product-total-pr {
  display: none;
  margin-left: 30px;
}
.cart-product-info-pr {
  text-align: left;
  font-size: 16px;
}
.cart-controls-pr {
  display: flex;
  justify-content: space-between;
  padding: 8px 14px;
}
.cart-quantity-controls-pr {
  display: flex;
}
.cart-quantity-controls-pr button,
.cart-quantity-controls-pr input {
  height: 25px;
  width: 25px;
  border: none;
  outline: none;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
}
.cart-quantity-controls-pr button {
  border-radius: 50%;
  color: black;
  background-color: #cfcdcd;
}
.btn-remove-pr {
  border: none;
  font-weight: bold;
  color: #020100;
  background-color: white;
}

.cart-product-name-pr {

  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}
.cart-price-pr {
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}
.cart-total-holder-pr {
  margin-top: 30px;
}
.cart-total-pr {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
}
.cart-total-pr p {
  font-weight: bold;
  font-size: 25px;
}
.cart-action-button-pr a {
  display: block;
  text-align: center;
  padding: 10px;
  margin-bottom: 60px;
}
.cart-action-button-pr {
  display: flex;
  flex-direction: column;
  padding: 0%, 20%, 0%, 20%;
}
.cart-action-button-pr a:first-child {
  color: rgb(255, 0, 0);
  font-size: 20px;
  font-weight: bold;
  background-color: #cfcdcd;
  margin: 2px 20px;
  text-decoration: none;
}
.btn-main-pr {
  background-color: rgba(65,2,106,1);
  color: rgb(252, 2, 2);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin: 2px 20px;
  border:solid 1px black;
}

@media (min-width: 481px) {
  * {
    box-sizing: border-box;
  }
  .cart-quantity-pr,
  .cart-product-name-pr,
  .cart-product-total-pr {
    display: flex;    
    justify-content: end;
}
  }


@media (min-width: 769px) {
  * {
    box-sizing: border-box;
  }
  .cart-quantity-pr,
  .cart-product-name-pr,
  .cart-product-total-pr {
    display: flex;
  }
  /*.cart-item-pr :hover {
    font-size: 25px;
    transition: 500ms;
  }*/
}

@media (min-width: 1280px) {
  * {
    box-sizing: border-box;
  }
  
  .cart-quantity-pr,
  .cart-product-name-pr,
  .cart-product-total-pr {
    display: flex;
  }  
}

@media(max-width: 1000px) {
  .cart-item-pr{
    display: block;
  }
}

.product-detail-info {
    text-align: justify;
}

.buy-now-button {
    display: inline-block;
    width: auto;
    padding: 12px;
    background-color: #1B2A3B;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: ease-out 0.3s;
}

.remove-pr {
    
    border: solid 2px gold;
    outline: 0;
    padding: 12px;
    color:  rgba(65,2,106,1);;
    background-color: rgba(65,2,106,1);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    text-shadow:1px 1px 1px  red;
}

.btn-remove-pr {
    
    color:  rgb(255, 217, 0);;
    background-color: rgba(65,2,106,1);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    text-shadow:1px 1px 1px  red;
}