@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

div.errors {
  color: red;
}

* {
  box-sizing: border-box;
  font-family: Montserrat;
}

html {
  height: 100%;

}

body {
  background-image: url("/images/fotofondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  background-color: rgba(0,0,0,0.5); 
}

.socials a{
text-decoration: none;
color: white;
border: 1px solid #6AD4F8;
border-radius: 50%;
display: inline-flex;
justify-content: center;
align-items: center;
margin: 0 5px;
height: 40px;
width: 40px;
}

.socials{
  display: flex;
  margin: 20px;
}



.container {
    height: 70%;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    right: 50px;
    top: 4rem;
    margin: 15px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);

}
.container1 {
  margin-top: 50px;
  height: 68%;
  display: flex;
  flex-wrap: column;
  position: absolute;
  flex-direction: column;
  align-items: center;
  right: 50px;
  text-align: center;
  background-color: #1B2A3B;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  justify-content: center;
}

@media (max-width: 769px) {
  .container1 {
    height: 51%;
  }
}

input[type=text], input[type=password], input[type=email], input[type=file] {
    /*width: 100%;*/
    padding: 12px 15px;
    margin: 8px 0;
    border: none;
    background-color: #eee;
    border-radius: 1rem;
    font-size: 16px;
  }

input::placeholder {
    font: 12px 'roboto';
}

 input[type=file] {
    width: 70%;
    padding: 12px 15px;
    margin: 8px 0;
    border: none;
    background-color: #eee;
    border-radius: 1rem;
  }

  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: rgb(255, 255, 255);
    outline: solid #6AD4F8;
  }


h1{
    text-align: center;
    color: white;
    

}

.btn1{
    background-color: transparent;
    color: whitesmoke;
    padding: 12px 50px;
    border: none;
    cursor: pointer;
    border-radius: 1em;
    margin-top: 10px;
    transition: ease-out 0.3s;
  }
  
  .btn1:hover {
    box-shadow: inset 172px 0 0 0 #6AD4F8;
  }

  .btn2:hover {
    box-shadow: inset 172px 0 0 0 #6AD4F8;
  }
  .btn2{
    color: rgb(0, 0, 0);
    padding: 12px 50px;
    border: none;
    cursor: pointer;
    border-radius: 1em;
    margin-top: 20px;
    transition: ease-out 0.3s;
  }

  #sign-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 0px 50px;
    background-color: rgba(0,0,0,0.5);
    
  }


 #sign-in{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 0px 50px;
  background-color: #1B2A3B;
  
}

.signUp{
  height: 80%;
  width: 80%;
}
.volver a{
    font-size: 22px;
    text-decoration: none;
    display: flex;
    color: white;
    width: 50px;
    padding: 20px 20px;
    background-color: #1B2A3B;

}    

/*.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(65,2,106,1);
  color: white;
  text-align: center;
  display: flex;
  align-content: flex-end;
  justify-content: space-around;
  font-family:'roboto';
  font-weight: 400;
}*/
