* {
  font-family: Arial, Helvetica, sans-serif;
}

.buscador {
  position: relative; 
  /*top: 10px;*/
}

.topnav {
  position: fixed;
  margin-left: 0%;
  /*margin-top: 5px;*/
  width: 100%;
  top:0px;
    height: 10vh;
    background-image:  linear-gradient(cyan, magenta);
    overflow: hidden;
    display: flex;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #00eeff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: #4cc9f0;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-image:  linear-gradient(cyan, magenta);
    color: white;
  }

  .leftnav {
    list-style-type: none;
    /*margin: 5px;*/
    padding: 0;
    width: 300px;
    background-image: linear-gradient(cyan, magenta);
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    color: #fcd4fd;
    text-align: justify;
  text-justify: inter-word;
  flex-direction: column;
  display: flex;  
  }

  
  .leftnav a {
    display: block;
    color: #deeff5;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  .leftnav a:hover {
    background-color: #555;
    color: white;
  }

  .container{
    margin-left: 160px;
    margin-top: 50px;
    background-color: #4cc9f0;
    
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    border: solid 1px grey;
    display: flex;
    /*width: 80%;*/
    margin-left: 160px;
    
  }

  .publi1{
    display: flex;
    justify-content: space-around;
    border: solid 1px grey;
    width: 50px;
    
  }