<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=+, initial-scale=1.0" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link href="/css/fontawesome.css" rel="stylesheet">
    <title>Página de inicio</title>
  </head>

  <body>
    <%- include('../partials/headerNavbar.ejs') %>
    <div class="container">
      <div class="signUp">
        <form action="" id="sign-up" >
          <h1>Crear cuenta</h1>

          <label for="email"></label>
          <input type="text" placeholder="Ingrese su mail aquí">

          <label for="password"></label>
          <input type="password" placeholder="Ingrese su contraseña aquí" name="psw" required>

          <label for="password"></label>
          <input type="password" placeholder="Ingrese nuevamente su contraseña aquí" name="psw" required>


          <button type="submit" class="btn1">Registrar</button>
      </form>
      </div>
      <div class="signIn">
        <form action="" id="sign-in" >
            <h1>Login</h1>

            <div class="socials">
              <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
              <a href="https://twitter.com"><i class="fab fa-google-plus-g"></i></a>
              <a href="https://instagram.com"><i class="fab fa-linkedin-in"></i></a>
            </div>

            <label for="email"></label>
            <input type="text" placeholder="Ingrese su mail aquí">

            <label for="password"></label>
            <input type="password" placeholder="Ingrese su contraseña aquí" name="psw" required>

            
            <button type="submit" class="btn2">Login</button>
        </form>
      </div>
    </div>
     
  </body>
  <%- include('../partials/footer.ejs') %>

</html>
