<html>
    <body>
        
        <form action="/users/login" method="post">
            <label for="">EMAIL</label>
            <input type="email" name="email" class="form-control"><br>
            <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= errors.email.msg %> 
                </div>
             
            <% } %>

            <label for="">password</label>
            <input type="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </body>
</html>