<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/addProductcss.ejs') %>
</head>

<body>
    <%- include('../partials/headerNavbar.ejs') %>
<main>
    

    <form method="POST" action="/productDetail/__/edit?_method=PUT" enctype="multipart/form-data">
      <div class="newProducts">  
        <h4 class="page-banner-add">Editar un Producto</h4>
        <div class="search-edit">
            <div class="input-search">
            <input type="text" placeholder="Id del Producto a Editar" required>
            </div>
            <div class="btn-edit">
              <i class="fas fa-search icon"></i>
            </div>
          </div>
        <div class="parts">     
            <p>Nombre del Producto</p>
            <input type="text" value="Nombre del Producto" name="nombre-del-producto" id="nombre-del-producto" required>
        </div> 
        <div class="parts"> 
            <p>Descripcion</p>
            <input type="text" value="Descripcion del Producto" name="descripcion-del-producto" id="descripcion-del-producto" required>
        </div> 
        <div class="categori" class="parts"> 
            <p>Categoria</p>
             <select name="categoria-del-producto" class="categoriOptions" id="categoria-del-producto" required>
            <option value="1">Seleccionar categoria</option> 
            <option value="2">Mineria</option> 
            <option value="3">Almacenamiento</option>
            <option value="4">Monitores</option> 
            <option value="5">Metaverso</option>
            
         </select>
        </div> 
       
       
        <div class="parts"> 
            <p>Precio</p>
            <input type="text" name="precio-del-producto" id="precio-del-producto" required>
        </div> 

        <div class="parts"> 
            <p>Imagen del Producto</p>
            <input id="chooseFile" type="file" name="imagen-del-producto" id="imagen-del-producto" placeholder="Buscar" required>
        </div> 

        <div class="buttons">
   
            <button class="submit" type="submit"> Enviar</button>
            
                       
        </div>
       </div>

    </form>
  
</main>

</body>

<%- include('../partials/footer.ejs') %>

</html>