<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <%- include('../partials/footercss.ejs') %>
</head>
<body>
  <header>
   <section>    
    <%- include('../partials/headerNavbar.ejs') %>
   </section>
  </header>
  <main>

    <H1><a id="quienes">QUIENES SOMOS</a></H1>
    METASHOP tienda de productos electronicos(METASHOP) incrispto registro AFIP Cuit 30-1111111111-4 

    <H1><a id="privacy">POLITICAS DE PRIVACIDAD</a></H1>
   
METASHOP te informa sobre su Política de Privacidad respecto del tratamiento y protección de los datos de carácter personal de los usuarios y clientes que puedan ser recabados por la navegación o contratación de servicios a través del sitio Web.

En este sentido, el METASHOP garantiza el cumplimiento de la normativa vigente en materia de protección de datos personales, reflejada en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y de Garantía de Derechos Digitales (LOPD GDD). Cumple también con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas (RGPD).

El uso de sitio Web implica la aceptación de esta Política de Privacidad así como las condiciones incluidas en el Aviso Legal.

<H1><a id="terms">TERMINOS LEGALES</a></H1>
Es requisito necesario para la adquisición de los productos que se ofrecen en este
sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se
redactan. El uso de nuestros servicios así como la compra de nuestros productos
implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el
presente documento. Todas los productos que son ofrecidos por nuestro sitio web
pudieran ser creadas, cobradas, enviadas o presentadas por una página web tercera y
en tal caso estarían sujetas a sus propios Términos y Condiciones. En algunos casos,
para adquirir un producto, será necesario el registro por parte del usuario, con ingreso
de datos personales fidedignos y definición de una contraseña.
El usuario puede elegir y cambiar la clave para su acceso de administración de la
cuenta en cualquier momento, en caso de que se haya registrado y que sea necesario
para la compra de alguno de nuestros productos. METASHOP no asume la
responsabilidad en caso de que entregue dicha clave a terceros.
Todas las compras y transacciones que se lleven a cabo por medio de este sitio web,
están sujetas a un proceso de confirmación y verificación, el cual podría incluir la
verificación del stock y disponibilidad de producto, validación de la forma de pago,
validación de la factura (en caso de existir) y el cumplimiento de las condiciones
requeridas por el medio de pago seleccionado. En algunos casos puede que se
requiera una verificación por medio de correo electrónico.
Los precios de los productos ofrecidos en esta Tienda Online son válidos solamente
en las compras realizadas en este sitio web. 


</main>
<%- include('../partials/footer.ejs') %>
</body>
</html>
