<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <%- include('../partials/footercss.ejs') %>
</head>
<body>
  <header>
   <section>    
    <%- include('../partials/headerNavbar.ejs') %>
   </section>
  </header>
  <main>

    <H1><a id="quienes">QUIENES SOMOS</a></H1>
    Pido a los Santos del Cielo
    Que ayuden mi pensamiento;
    Les pido en este momento
    Que voy a cantar mi historia
    Me refresquen la memoria
    Y aclaren mi entendimiento.
    3
    Vengan Santos milagrosos,
    Vengan todos en mi ayuda,
    Que la lengua se me añuda
    Y se me turba la vista;
    Pido a Dios que me asista
    En una ocasión tan ruda.

    <H1><a id="privacy">POLITICAS DE PRIVACIDAD</a></H1>
    Yo he visto muchos cantores,
Con famas bien obtenidas,
Y que después de adquiridas
No las quieren sustentar:
Parece que sin largar
Se cansaron en partidas.

Mas ande otro criollo pasa
Martín fierro ha de pasar,
Nada la hace recular
Ni las fantasmas lo espantan;
Y dende que todos cantan
Yo también quiero cantar.

<H1><a id="terms">TERMINOS LEGALES</a></H1>
Me siento en el plan de un bajo
A cantar un argumento:
Como si soplara el viento
Hago tiritar los pastos;
Con oros, copas y bastos
Juega allí mi pensamiento.
9
Yo no soy cantor letrao,
Mas si me pongo a cantar
No tengo cuándo acabar
Y me envejezco cantando:
Las coplas me van brotando
Como agua de manantial.


</main>
<%- include('../partials/footer.ejs') %>
</body>
</html>
