<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <%- include('../partials/metaversocss.ejs') %>
</head>
<body>
  <header>
   <section>    
    <%- include('../partials/headerNavbar.ejs') %>
   </section>
  </header>
  <main><br>
    <h1>METAVERSO</h1>
</main>
<%- include('../partials/footer.ejs') %>
</body>
</html>
