<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <%- include('../partials/metaversocss.ejs') %>
</head>
<body>
  <header>
   <section>    
    <%- include('../partials/headerNavbar.ejs') %>
   </section>
  </header>
  <main><br>
    <h1>METAVERSO</h1>
    <section class="publicidades">
      <div class="card">
        <div class="card1">
          <img src="/images/rig3v2.jpg" alt="Denim Jeans" style="width:100%">
          <h1>Rig Minero Chino</h1>
          <p class="price">U$S499</p>
          <p>Mineria de ETH</p>
          <p><button>COMPRAR</button></p>
        </div>

        <section class="publicidades">
          <div class="card">
            <div class="card1">
              <img src="/images/rig3v2.jpg" alt="Denim Jeans" style="width:100%">
              <h1>Rig Minero Chino</h1>
              <p class="price">U$S499</p>
              <p>Mineria de ETH</p>
              <p><button>COMPRAR</button></p>
            </div>

</main>
<%- include('../partials/footer.ejs') %>
</body>
</html>
