<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/newProductscss.ejs') %>
</head>

<body>
    <%- include('../partials/headerNavbar.ejs') %>
<main>
    

    <div class="newProducts">
        <h4 class="page-banner-add">Agregar un Producto</h4>
        <li>
            <input type="text" name="nombre-del-producto" >
        </li>
    </div>
  
</main>




</body>

<%- include('../partials/footer.ejs') %>

</html>