<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/newProductscss.ejs') %>
</head>

<body>
    <%- include('../partials/headerNavbar.ejs') %>
<main>
    

    <div class="newProducts">
        <h4 class="page-banner-add">Agregar un Producto</h4>
        <div>     
            <p>Nombre del Producto</p>
            <input type="text" name="nombre-del-producto" >
        </div> 
        <div> 
            <p>Descripcion</p>
            <input type="text" name="descripcion-del-producto" >
        </div> 
        <div class="categori"> 
            <p>Categoria</p>
             <select name="categoria-del-producto"  >
            <option value="1">Seleccionar categoria</option> 
            <option value="2">Mineria</option> 
            <option value="3">Almacenamiento</option>
            <option value="4">Monitores</option> 
            <option value="5">Metaverso</option>
            
         </select>
        </div> 
       
       
        <div> 
            <p>Precio</p>
            <input type="text" name="precio-del-producto" >
        </div> 

        <div> 
            <p>Imagen del Producto</p>
            <input type="file" name="imagen-del-producto" placeholder="Buscar">
        </div> 


    </div>
  
</main>




</body>

<%- include('../partials/footer.ejs') %>

</html>