<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Grupo 6" content="Meta Shop">
    <title>Meta Shop</title>
    <link href="https: //fonts.googleapis.com/css2? familia= Lato:ital,peso@0,400;1,700 & display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="resize_img.css">

</head>
<%- include('../partials/headerNavbar.ejs') %>
<body class="home">
    <header class="header-top"></header>


    <h1 class="title1"></h1>

    <h2 class="title text-center">Descubrí el metauniverso de productos recomendados para vos!</h2>
    <div class="productshow">
        <div class="productinfo text-center">
            <div class="img1">
                <img src="/images/notebooks_desktops.jpeg" alt="Notebooks & Desktops" itemprop="image">
                <div class="title">Notebooks & Desktops</div>
                <p>
                    <span itemprop="Notebooks & Desktops"></span>
                </p>
            </div>
        </div>



        <div class="productinfo text-center">
            <div class="img2">
                <img src="/images/gamerconsole.jfif" alt="Gamer Console" itemprop="image">
                <div class="title">Gamer Console</div>
                <p>
                    <span itemprop="Gamer Console"></span>
                </p>
            </div>
        </div>


        <div class="productinfo text-center">
            <div class="img3">
                <img src="/images/crypto_miner.jpg" alt="crypto_miner" itemprop="image">
                <div class="title">Crypto Miner</div>
                <p>
                    <span itemprop="Crypto Miner"></span>
                </p>
            </div>
        </div>

        <div class="productinfo text-center">
            <div class="img4">
                <img src="/images/bigdata.jpg" alt="bigdata" itemprop="image">
                <div class="title">Storage</div>
                <p>
                    <span itemprop="Data Storage"></span>
                </p>
            </div>
        </div>

        <div class="productinfo text-center">
            <div class="img5">
                <img src="/images/audioandvideo.jpg" alt="audioandvideo" itemprop="image">
                <div class="title">Audio & Video</div>
                <p>
                    <span itemprop="Audio & Video"></span>
                </p>
            </div>
        </div>

</body>

<%- include('../partials/footer.ejs') %>



</html>