<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <%- include('../partials/descriptionproductscss.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/headerNavbar.ejs') %>
    </header>
    <main class="main">

        <div class="categorias">
            <div>
            <img src="/images/cloud-storage.jpg" alt="ALMACENAMIENTO" itemprop="image">
            <div class="title"><a href="/productDetail/crear">AGREGAR PRODUCTO</a></div>
            </div>

            <div>
            <img src="/images/cloud-storage.jpg" alt="ALMACENAMIENTO" itemprop="image">
            <div class="title"><a href="/productDetail/edit/">EDITAR PRODUCTO</a></div>
            </div>
            <!-- esto es lo q dijo el profe va segud-->

           <!-- <div>
            <img src="/images/cloud-storage.jpg" alt="ALMACENAMIENTO" itemprop="image">
            <div class="title"><a href="/almacenamiento">ALMACENAMIENTO</a></div>
            </div>

            <div>        
            <img src="/images/img_monitor_tab_3.png" alt="MONITORES" itemprop="image">
            <div class="title"><a href="/monitores">MONITORES</a></div>
            </div>

            <div>     
            <img src="/images/crypto_miner.jpg" alt="MINERIA" itemprop="image">
            <div class="title"><a href="/mineria">MINERIA</a></div>
            </div>
-->
            <div>    
            <img src="/images/metaverso.jpg" alt="METAVERSO" itemprop="image">
            <div class="title"><a href="/metaverso">METAVERSO</a></div>
            </div>    
        </div>        
    </main>

    <%- include('../partials/footer.ejs') %>
</body>





</html>